.content-form-cadastro {
    width: 400px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 15vh;
}

#avisoEmail {
    color: red;
    font-size: 11pt;
}